<div class="d-flex flex-wrap justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50" (click)="onClose()">
    <div class="bg-white p-2 rounded" (click)="$event.stopPropagation()">
        <div class="">
            <div class="modal-header">
                <button type="button" class="btn-close text-danger" (click)="onClose()" aria-label="Close"></button>
            </div>
            <div class="p-5">
                <p>{{ message }}</p>
            </div>
            <div class="d-flex flex-wrap justify-content-between w-100 border-top pt-2">
                <button type="button" class="btn btn-secondary btn-sm" (click)="onClose()">Cancel</button>
                <button type="button" class="btn btm-sm" [ngClass]="{'btn-primary': !isDanger, 'btn-danger': isDanger}" (click)="onConfirm()">Confirm</button>
            </div>
        </div>
    </div>
</div>