@if( post && ((!post.hidden && !post.blocked) || post.userId == currentUser.id || currentUser.role == 'admin')){
@if(!isEditing) {
<div class="w-100 p-4 bg-white shadow-sm rounded mb-4" [ngClass]="{'opacity-50 ': post?.blocked}">
    <div class="d-flex flex-wrap w-100 post-wrapper">
        <div class="d-flex flex-wrap justify-content-between w-100 align-items-center">
            <div class="d-flex flex-wrap justify-content-start align-items-center">
                <app-user-profile-icon [user]="author" size="md"></app-user-profile-icon>
                <div class="ms-3">
                    <h6 class="mb-0">{{ author?.first_name }} {{ author?.last_name }}
                        @if(currentUser?.friends?.includes(author?.id)) {
                        <i class="bi bi-person-check text-success ms-2" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Friend"></i>
                        }
                    </h6>
                    <small class="text-muted font-small mt-0">Posted on {{ post?.timestamp | date:'medium' }}</small>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-end align-items-center">
                @if(post.blocked) {
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="This post has been blocked by admin!"
                    class="text-danger me-3">
                    <i class="bi bi-ban"></i>
                </span>
                }
                @if(post.hidden) {
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="This post is hidden for other users!"
                    class="text-secondary me-3">
                    <i class="bi bi-eye-slash"></i>
                </span>
                }
                @if (author.id == currentUser.id || currentUser.role == 'admin') {
                <div class="dropdown">
                    <span id="dropdownMenuButton1" class="text-primary" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-sliders"></i>
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        @if(author.id == currentUser.id) {
                        <li><a class="dropdown-item d-flex flex-wrap justify-content-between text-muted"
                                (click)="isEditing=true">Edit <i class="bi bi-pencil"></i></a></li>
                        @if(post.hidden) {
                        <li><a class="dropdown-item d-flex flex-wrap justify-content-between text-muted" href="#"
                                (click)="$event.preventDefault(); unhidePost()">Unhide
                                <i class="bi bi-eye"></i></a></li>
                        } @else {
                        <li><a class="dropdown-item d-flex flex-wrap justify-content-between text-muted" href="#"
                                (click)="$event.preventDefault(); hidePost()">Hide
                                <i class="bi bi-eye-slash"></i></a></li>
                        }
                        }
                        @if(currentUser.role == 'admin' && author.id != currentUser.id) {

                        @if(post.blocked) {

                        <li><a class="dropdown-item d-flex flex-wrap justify-content-between text-muted" href="#"
                                (click)="$event.preventDefault(); unblockPost()">Unblock
                                <i class="bi bi-check2-square"></i></a></li>
                        } @else {

                        <li><a class="dropdown-item d-flex flex-wrap justify-content-between text-muted" href="#"
                                (click)="$event.preventDefault(); blockPost()">Block
                                <i class="bi bi-ban"></i></a></li>
                        }
                        }
                        <li><a class="dropdown-item d-flex flex-wrap justify-content-between text-muted" href="#"
                                (click)="$event.preventDefault(); deletePost()">Delete
                                <i class="bi bi-trash"></i></a></li>
                    </ul>
                </div>
                }
            </div>
        </div>
        @if(post?.image && post?.image.length > 0) {
        <div class="w-100 mt-3 bg-secondary bg-gradient rounded">
            <img class="w-100 object-fit-contain rounded post-image" [src]="post?.image" [alt]="post.text">
        </div>
        }

        @if(post?.text && post?.text.length > 0) {
        <div class="w-100 mt-2">
            <p class="fs-6">{{ post?.text }}</p>
        </div>
        }

        <div class="mt-2 w-100 d-flex flex-wrap border-top pt-2">
            <div class="me-4 text-secondary">
                <a href="#" (click)="$event.preventDefault(); toggleLike()" class="text-decoration-none text-info">
                    @if(post.likesUserIds.indexOf(currentUser.id) >= 0) {
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    } @else {
                    <i class="bi bi-hand-thumbs-up"></i>
                    }
                </a>
                <span class="ms-2">{{ post.likesUserIds.length }}</span>
            </div>
        </div>
    </div>
</div>
} @else {
<app-edit-post [post]="post" (close)="editCancel($event)" (newPost)="newPost($event)"></app-edit-post>
}

@if(hidingPost || unhidingPost || deletingPost || blockingPost || unblockingPost) {
<app-confirmation-modal [message]="confirmationMassege" [isDanger]="danger"
    (isConfirmed)="confirmRes($event)"></app-confirmation-modal>
}
}