<nav class="navbar border-bottom border-info bg-white shadow-sm " data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand text-primary fs-2">Fbook</a>

        <div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-house-heart"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-person-hearts"></i> Network</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">
                        <span class="align-top me-1 text-success">Hi {{ user?.first_name }}! </span>
                        @if(user?.role == 'admin') {
                            <span class="text-secondary align-top me-1 blockquote-footer">Super Admin</span>
                        }
                        <app-user-profile-icon [user]="user"></app-user-profile-icon>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item d-flex justify-content-between" [routerLink]="['/my-posts']">My Posts <i class="ms-3 bi bi-view-list"></i></a></li>
                        @if(user?.role == 'admin') {
                            <li>
                                <a class="dropdown-item  d-flex justify-content-between"  [routerLink]="['/posts']">All Posts <i class="bi bi-stickies ms-3"></i></a>
                            </li>
                            <li>
                                <a class="dropdown-item  d-flex justify-content-between" [routerLink]="['/users']">Users <i class="bi bi-person-lines-fill ms-3"></i></a>
                            </li>
                        }

                        <li><a class="dropdown-item  d-flex justify-content-between" [routerLink]="['/setting']">Setting <i class="ms-3 bi bi-gear"></i></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger d-flex justify-content-between" (click)="logout()" href="#">Logout <i class="ms-3 bi bi-box-arrow-right"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>