.size-small {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
}

.size-small:hover {
    box-shadow: 0 0 0 1px rgb(217, 0, 255);
}

.size-large {
    width: 150px;
    line-height: 150px;
    font-size: 80px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
}