<div class="container">
    <div class="row">

        <div class="col-12 p-5">
            <div class="text-center text-primary fs-1">Fbook</div>
        </div>

        <div class="col-12 mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 rounded-3 p-4 shadow-sm bg-white">

                    <h4 class="text-center text-secondary mb-5">Reset your password</h4>
                    <form #passwordResetForm="ngForm" (ngSubmit)="onSubmit(passwordResetForm)" class="row">

                        <div *ngIf="step === 1">
                            <h6 class="text-center text-primary">Enter your email</h6>
                            <div class="mb-3">
                                <input type="email" id="email" class="form-control" email required name="email"
                                    [(ngModel)]="email" (input)="onInput()" #emailField="ngModel" />
                                <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)"
                                    class="text-danger mt-1">
                                    <small *ngIf="emailField.errors?.['required']">Email is required.</small>
                                    <small *ngIf="emailField.errors?.['email']">Enter a valid email address.</small>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button (click)="$event.preventDefault(); sendOtp()" class="btn f-100 btn-primary"
                                    [disabled]="emailField.invalid">Send OTP</button>
                            </div>
                        </div>

                        <div *ngIf="step === 2">
                            <h6 class="text-center text-primary">Enter 6 digit OTP</h6>
                            <p class="text-center text-warning">( Enter any 6 characters on test server )</p>
                            <div class="mb-3">
                                <input type="text" id="otp" class="form-control" number required name="otp"
                                    [(ngModel)]="otp" minlength="6" maxlength="6" (input)="onInput()"
                                    #otpField="ngModel" />
                                <div *ngIf="otpField.invalid && (otpField.dirty || otpField.touched)"
                                    class="text-danger mt-1">
                                    <small *ngIf="otpField.errors?.['required']">OTP is required.</small>
                                    <small *ngIf="otpField.errors?.['minlength']">OTP should be 6 digits.</small>
                                    <small *ngIf="otpField.errors?.['maxlength']">OTP should be 6 digits.</small>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button (click)="$event.preventDefault(); enterOtp()" class="btn f-100 btn-primary"
                                    [disabled]="otpField.invalid">Submit OTP</button>
                            </div>
                        </div>

                        <div *ngIf="step === 3">
                            <h6 class="text-center text-primary">Create new password</h6>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" class="form-control" required minlength="6"
                                    name="password" [(ngModel)]="password" (input)="onInput()"
                                    #passwordField="ngModel" />
                                <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)"
                                    class="text-danger mt-1">
                                    <small *ngIf="passwordField.errors?.['required']">Password is required.</small>
                                    <small *ngIf="passwordField.errors?.['minlength']">Password must be at least 6
                                        characters.</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="cpassword" class="form-label">Confirm Password</label>
                                <input type="password" id="cpassword" class="form-control" required minlength="6"
                                    name="cpassword" [(ngModel)]="cpassword" (input)="onInput()"
                                    #cPasswordField="ngModel" />
                                <div *ngIf="(cPasswordField.invalid || cpassword !== password ) && (cPasswordField.dirty || cPasswordField.touched)"
                                    class="text-danger mt-1">
                                    <small *ngIf="cPasswordField.errors?.['required']"><br>Password is required.</small>
                                    <small *ngIf="cPasswordField.errors?.['minlength']"><br>Password must be at least 6
                                        characters.</small>
                                    <small *ngIf="cpassword !== password" class="w-100"><br>Password does not
                                        match.</small>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn f-100 btn-primary"
                                    [disabled]="passwordResetForm.invalid">Change password</button>
                            </div>
                        </div>


                        <p class="text-danger">{{ errorMsg }}</p>
                        <p class="text-success">{{ successMsg }}</p>

                        <div class="text-center"><a [routerLink]="['/login']" class="link-info">Return to Login</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>